<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button class="waves-effect waves-light btn grey darken-1 btn-small" (click)="onAddPositin()">
        Добавить позицию
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div *ngIf="positions.length !== 0; else empty" class="collection">
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="onSelectPosition(position)"
        >
          <span>
            {{ position.name }} <strong>{{ position.cost }} руб.</strong>
          </span>
          <span>
            <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">В категории позиций нет</div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input
          formControlName="name"
          id="pos-name"
          type="text"
          [ngClass]="{invalid: name?.invalid && (name?.dirty || name?.touched)}"
        />
        <label for="pos-name">Название</label>
        <span *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="helper-text red-text">
          <span *ngIf="name.errors?.['required']"> Поле name не может быть пустым </span>
        </span>
      </div>
      <div class="input-field">
        <input
          formControlName="cost"
          id="pos-cost"
          type="number"
          min="1"
          [ngClass]="{invalid: cost?.invalid && (cost?.dirty || cost?.touched)}"
        />
        <label for="pos-cost">Цена</label>
        <span *ngIf="cost?.invalid && (cost?.dirty || cost?.touched)" class="helper-text red-text">
          <span *ngIf="cost.errors?.['required']"> Поле cost не может быть пустым </span>
          <span *ngIf="cost.errors?.['min']"> Цена не может быть менее 1 </span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="modal-action waves-effect waves-black btn-flat"
        (click)="onCancel()"
        [disabled]="form.disabled"
      >
        Отмена
      </button>
      <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled">
        Сохранить
      </button>
    </div>
  </div>
</form>
